textarea {
    resize: none;
}

button{
    margin-top: 10px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #CEC2EB;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
}
main {
    align-self: start;
}

.container-gran {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}


.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.container-mitja {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

hr {
    max-width: 600px;
    margin: 30px auto;
    border: none;
    border-top: 2px solid black;
}