textarea {
    resize: none;
}

button{
    margin-top: 10px;
}
body{
    background-color: lightskyblue;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

hr {
    max-width: 600px;
    margin: 30px auto;
    border: none;
    border-top: 2px solid black;
}